extends ../shared/_layout

block content
  div.wrapper.w-90.center
    div.bg
    div.absolute.bottom-0.left-0.w-100
      div.pa3
        p.ma0.mb2
          small Hi, I'm Ryo Ikarashi, a freelance
          br
          small software developer based in Kyoto, Japan.
        ul.ma0.mb2.pa0.list
          li.lh-copy
            small
              a(href='//sarara.software' target='_blank') ＊ Sarara Software
          li.lh-copy
            small
              a(href='//github.com/RyoIkarashi' target='_blank') ＊ Code
          li.lh-copy
            small
              a(href='//soundcloud.com/ryo_ikarashi' target='_blank') ＊ Music
          li.lh-copy
            small
              a(href='//photos.app.goo.gl/E1ReiRfaKaBrfQCw8' target='_blank') ＊ Photos
        p.ma0.mb1
          small
            a(href="mailto:me@ryoikarashi.com" target='_blank') Email: me@ryoikarashi.com
        p.ma0.mb1
          small Feel free to drop me a line :)
