:root {
    --dark-color: #111111;
    --light-color: #ffffff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 500ms;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 500ms;
}

#about {
    left: 0px;
    bottom: 0px;
}

#word {
    right: 0px;
    top: 0px;
}

#content {
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    backface-visibility: hidden;
}

.dark #loading:after {
    content: ' .';
    animation: dots-dark 1s steps(5, end) infinite;
}

html:not(.dark) #loading:after {
    content: ' .';
    animation: dots-light 1s steps(5, end) infinite;
}

#explanation {
    z-index: 111111;
    top: 50%;
    line-height: 1.7;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper.filtered,
#about.filtered {
    filter: blur(50px);
}

@keyframes dots-dark {
    0%,
    20% {
        color: var(--dark-color);
        text-shadow: 0.25em 0 0 var(--dark-color), 0.5em 0 0 var(--dark-color);
    }
    40% {
        color: var(--light-color);
        text-shadow: 0.25em 0 0 var(--dark-color), 0.5em 0 0 var(--dark-color);
    }
    60% {
        text-shadow: 0.25em 0 0 var(--light-color), 0.5em 0 0 var(--dark-color);
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 var(--light-color), 0.5em 0 0 var(--light-color);
    }
}

@keyframes dots-light {
    0%,
    20% {
        color: var(--light-color);
        text-shadow: 0.25em 0 0 var(--light-color), 0.5em 0 0 var(--light-color);
    }
    40% {
        color: var(--dark-color);
        text-shadow: 0.25em 0 0 var(--light-color), 0.5em 0 0 var(--light-color);
    }
    60% {
        text-shadow: 0.25em 0 0 var(--dark-color), 0.5em 0 0 var(--light-color);
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 var(--dark-color), 0.5em 0 0 var(--dark-color);
    }
}
