footer.absolute.bottom-0.right-0
  ul.ma0.pa0.cf.mr3.mb3
    each site in data.footer.sns
      li.list.fl.mr2
        a.sns-btn(href=site.url target="_blank" rel="noopener noreferrer")
          case site.classname
            when 'twitter'
              include ../icons/_twitter
            when 'facebook'
              include ../icons/_facebook
            when 'instagram'
              include ../icons/_instagram
