svg(width="84px" height="76px" viewBox="0 0 84 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
    g(transform="translate(-504.000000, -165.000000)" fill="#FFFFFF")
      g(transform="translate(504.000000, 158.000000)")
        g
          g
            g(transform="translate(0.000000, 7.000000)")
              g
                rect(x="0" y="0" width="16.6527529" height="75.0463548" rx="5")
                ellipse(cx="49.9299082" cy="21.4559221" rx="21.2947282" ry="21.4559221")
                path(d="M28.6150568,55.5645508 C28.6150568,49.4876751 33.0161891,46.7925135 38.4304258,49.5372182 L79.9966177,70.6088729 C85.4174963,73.3569447 84.8816561,75.5846971 78.8182083,75.5846971 L39.6088352,75.5846971 C33.5371391,75.5846971 28.6150568,70.6689625 28.6150568,64.5815404 L28.6150568,55.5645508 Z")
