@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -48%);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -48%);
    visibility: hidden;
  }
}

@keyframes fadeInToFadeOut {
  0% {
    opacity: 0;
    width: 150px;
    visibility: visible;
  }

  5% {
    opacity: 0;
    width: 150px;
    visibility: visible;
  }

  20% {
    opacity: 1;
    width: 150px;
    visibility: visible;
  }

  30% {
    opacity: 1;
    width: 150px;
    visibility: visible;
  }

  60% {
    opacity: 0;
    width: 150px;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    width: 150px;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  80% {
    opacity: 0;
    visibility: hidden;
    display: block;
  }

  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@media (--breakpoint-small) {
  @keyframes fadeInToTop {
    0% {
      width: 140px;
      opacity: 0;
      top: calc(50% + 100px);
      position: fixed;
    }

    5% {
      width: 140px;
      top: calc(50% + 100px);
      opacity: 0;
      position: fixed;
    }

    20% {
      width: 140px;
      opacity: 1;
      top: calc(50% + 100px);
      position: fixed;
    }

    30% {
      width: 140px;
      opacity: 1;
      top: calc(50% + 100px);
      position: fixed;
    }

    58% {
      width: 140px;
      top: calc(50% + 100px);
      opacity: 0;
      position: fixed;
    }

    78% {
      width: 150px;
      opacity: 0;
      top: 60px;
      position: absolute;
    }

    86% {
      width: 150px;
      opacity: 1;
      top: 60px;
      position: absolute;
    }

    100% {
      width: 150px;
      opacity: 1;
      top: 60px;
      position: absolute;
    }
  }
}

@media (--breakpoint-not-small) {
  @keyframes fadeInToTop {
    0% {
      width: 180px;
      opacity: 0;
      top: calc(50% + 100px);
      position: fixed;
    }

    5% {
      width: 180px;
      top: calc(50% + 100px);
      opacity: 0;
      position: fixed;
    }

    20% {
      width: 180px;
      opacity: 1;
      top: calc(50% + 100px);
      position: fixed;
    }

    30% {
      width: 180px;
      opacity: 1;
      top: calc(50% + 100px);
      position: fixed;
    }

    58% {
      width: 180px;
      top: calc(50% + 100px);
      opacity: 0;
      position: fixed;
    }

    78% {
      width: 250px;
      opacity: 0;
      top: 90px;
      position: absolute;
    }

    86% {
      width: 250px;
      opacity: 1;
      top: 90px;
      position: absolute;
    }

    100% {
      width: 250px;
      opacity: 1;
      top: 90px;
      position: absolute;
    }
  }
}
