@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);

* {
  box-sizing: border-box;
}

html,
body {
  background-image: var(--c-purple--grad);
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

a {
  word-wrap: break-word;
  color: var(--c-white);
  text-decoration: none;
}
