/* animations */
.a-fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.a-fadeOutDown {
  animation-name: fadeOutDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

/* colors */
.bg-cyan--transparent {
  background-color: var(--c-cyan--transparent);
}

.c-dark--light {
  color: var(--c-dark--light);
}

.c-gray {
  color: var(--c-gray);
}

.c-gray--light {
  color: var(--c-gray--light);
}

/* hover utils */
.hover {
  transition: color 0.15s linear;

  &:hover {
    color: var(--c-cyan);
  }
}

/* widths */
.mw610px {
  &-ns {
    max-width: 37.813em;
  }

  max-width: 37.813em;
}

.mw65 {
  &-ns {
    @media (--breakpoint-not-small) {
      max-width: 40rem;
    }
  }

  max-width: 40rem;
}

/* spacing */
.pt55 {
  &-ns {
    @media (--breakpoint-not-small) {
      padding-top: 5rem;
    }
  }

  padding-top: 5rem;
}

.pt56 {
  &-ns {
    @media (--breakpoint-not-small) {
      padding-top: 5.2rem;
    }
  }

  padding-top: 5.2rem;
}

.pt57 {
  &-ns {
    @media (--breakpoint-not-small) {
      padding-top: 6rem;
    }
  }

  padding-top: 6rem;
}

.mt55 {
  &-ns {
    @media (--breakpoint-not-small) {
      margin-top: 5rem;
    }
  }

  margin-top: 5rem;
}

.mt20px {
  &-ns {
    @media (--breakpoint-not-small) {
      margin-top: 20px;
    }
  }

  margin-top: 20px;
}

.mt50px {
  &-ns {
    @media (--breakpoint-not-small) {
      margin-top: 50px;
    }
  }

  margin-top: 50px;
}

.mt70px {
  &-ns {
    @media (--breakpoint-not-small) {
      margin-top: 70px;
    }
  }

  margin-top: 70px;
}

.mt45 {
  &-ns {
    @media (--breakpoint-not-small) {
      margin-top: 3rem;
    }
  }

  margin-top: 3rem;
}

/* position utils */
.origin--center-y {
  transform: translateY(-50%);
}

.origin--center-x {
  transform: translateX(-50%);
}

.origin--center {
  transform: translateX(-50%) translateY(-50%);
}

.absolute--mid-v {
  top: 50%;
}

.absolute--mid-h {
  left: 50%;
}

.absolute--mid {
  top: 50%;
  left: 50%;
}

/* position */
.top-3 {
  top: 3em;
}

.top-4 {
  top: 4em;
}

/* typography */
.ff-lato {
  font-family: var(--f-lato);
  font-weight: 400;
}

.ff-lato--bold {
  font-family: var(--f-lato);
  font-weight: 700;
}

.ff-nsjp {
  font-family: var(--f-nsjp);
}

.f6px {
  font-size: 0.375em;
}

.f8px {
  @media (--breakpoint-not-small) {
    font-size: 0.5em;
  }

  font-size: 0.5em;
}

.f11px {
  font-size: 0.688em;
}

.f12px {
  font-size: 0.75em;
}

.f14px {
  &-ns {
    @media (--breakpoint-not-small) {
      font-size: 0.875em;
    }
  }

  font-size: 0.875em;
}

.f16px {
  &-ns {
    @media (--breakpoint-not-small) {
      font-size: 1em;
    }
  }

  font-size: 1em;
}

.f19px {
  &-ns {
    @media (--breakpoint-not-small) {
      font-size: 1.188em;
    }
  }

  font-size: 1.188em;
}

.f20px {
  &-ns {
    @media (--breakpoint-not-small) {
      font-size: 1.25em;
    }
  }

  font-size: 1.25em;
}

.f23px {
  &-ns {
    @media (--breakpoint-not-small) {
      font-size: 1.438em;
    }
  }

  font-size: 1.438em;
}

.f24px {
  &-ns {
    @media (--breakpoint-not-small) {
      font-size: 1.5em;
    }
  }

  font-size: 1.5em;
}

.lh12px {
  &-ns {
    @media (--breakpoint-not-small) {
      line-height: 0.75em;
    }
  }

  line-height: 0.75em;
}

.lh16px {
  &-ns {
    @media (--breakpoint-not-small) {
      line-height: 1em;
    }
  }

  line-height: 1em;
}

.lh17px {
  &-ns {
    @media (--breakpoint-not-small) {
      line-height: 1.063em;
    }
  }

  line-height: 1.063em;
}

.lh24px {
  &-ns {
    @media (--breakpoint-not-small) {
      line-height: 1.5em;
    }
  }

  line-height: 1.5em;
}

.lh26px {
  &-ns {
    @media (--breakpoint-not-small) {
      line-height: 1.625em;
    }
  }

  line-height: 1.625em;
}

/* display */
.br-sp {
  @media (--breakpoint-small) {
    display: inline-block;
  }
}
