.blur {
  filter: blur(5px) !important;
  transition: filter 0.4s linear !important;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.4s linear !important;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.4s linear !important;
}
