.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-zoom-in .mfp-figure,
.mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure,
.mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-figure,
.mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}

.mfp-iframe-scaler { overflow: visible; }

.mfp-zoom-out-cur { cursor: auto; }

.mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: pointer; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }

.mfp-bg {
  background: #fbfeff !important;
}

.mfp-title,
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #333 !important;
}

.mfp-arrow {
  border: none !important;
  margin: 0 !important;
  font-size: 40px !important;
  color: #333537 !important;
  transform: translateY(-50%) !important;

  &::before {
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    border: none !important;
    margin: 0 !important;
    transform: translate(-50%, -50%) !important;
    transition: all 0.15s linear !important;
  }

  &::after {
    display: none;
  }
}

.mfp-arrow-right::before {
  font-family: 'fontello' !important;
  content: '\e800' !important;
}

.mfp-arrow-left::before {
  font-family: 'fontello' !important;
  content: '\e801' !important;
}
